.footer {
	--margin-block: 14rem;
	--pd-block: 1.6rem;

	// spacing
	padding-inline: 2.4rem;
	margin-block: var(--margin-block);

	text-align: center;

	// background
	background-image: url('../assets/bg-footer-squiggle.svg');
	background-size: contain;
	background-repeat: no-repeat;

	@media (min-width: $bp-medium) {
		--margin-block: 12rem;
		padding-block: var(--pd-block);
	}

	@media (min-width: $bp-large) {
		--margin-block: 14rem;
		--pd-block: 5rem 2.5rem;
	}
}
